/* ENCABEZADO */
#body {
    background-image: linear-gradient(180deg, #31b189, #7ace67, #f3dd6b 50%);    
}

.header {
    background: #efae44;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    min-height: 160px;
    border-radius: 10px 10px 10px 10px;
}

.header__logo {
    width: 200px;
    height: 200px;
    background: transparent;
}

.header__menu ul {
    display: flex;
    align-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header__menu ul li a {
    margin: 10px;    
    padding: 5px 5px;
    text-decoration: none;
    font-size: 35px;
    background: #7ace67;
    color: #ffc872;
    border-radius: 5px; 
}

.header__menu ul li a:hover {
    display: flex;
    justify-content: center;
    background:#31b189;
    color: #7ace67;
    margin: auto;
    padding-left: 10px;
    padding-right:10px;
}


/* PRINCIPAL */

#principal {
    background-color: #7ace67;
    height: 1500px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(amor-vegetal-hamburguesas.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}


.título {
    font-family: 'Prata', serif;
    font-style:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fffffffb;
    background-color: rgba(30, 255, 0, 0.267);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.tituloQuienes {
    font-family: 'Prata', serif;
    color: #feecda;
    background-color: rgba(172, 255, 47, 0.664);
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 400px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
}

.textoQuienes {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    background-color: rgba(255, 166, 0, 0.664);
    color: peachpuff;
    margin: 200px;
    padding-top: 10px;
    border-radius: 20px 20px 20px 20px;
}


.intro_buttom a { 
    text-align: center;
    text-decoration: none;
    background-color: rgba(96, 252, 96, 0.507);
    color: #fff;
    font-size: 40px;
    font-style:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    margin: 500px;
    margin-left: 555px;
    border-radius: 40px 40px 40px 40px;
    width: 100px;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* HOVER ANIMADO */

.intro_buttom a:hover {
    display: float;
    justify-content: center;
    margin: 500px;
    margin-left: 555px;
    padding: 15px;
    border-radius: 40px 40px 40px 40px;
    background:#31b189;
    color:#f3dd6b;
}


/* TRAYECTORIA */

.trayectoriaTitulo {
    font-family: 'Prata', serif;
    color: rgb(240, 203, 136);
    background-color: rgba(172, 255, 47, 0.329);
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    
}

.trayectoriaTexto {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    font-family:'Francois One', sans-serif;
    height: 300px;
    width: 500px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
    background-color: orange;
    color: peachpuff;
    margin-top: 100px;
    margin-left: 400px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.trayectoriaTexto2 {
    font-family:'Francois One', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    background-color: orange;
    color: peachpuff;
    margin: auto 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px ;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* PRODUCTOS */

#ListaProd {
    display: flex;
    font-family:'Francois One', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    display: inline;
    line-height: 65px;
    color: peachpuff;
    margin-bottom: 10px;
    margin-left:  10px;
    margin-right: 10px;
    padding-top: 10px;
    display: flex;  
    justify-content: center;
    
}

#ListaProd .TituloListaProd {
    font-family:'Francois One', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    background-color: #31b189;
    color: #f4f8f9;
    margin-bottom: 10px;
    margin-left:  10px;
    margin-right: 10px;
    }

.productos {
    font-family:'Francois One', sans-serif;
    font-size: 48px;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    line-height: 65px;
    margin-bottom: 10px;
    margin-left:  10px;
    margin-right: 10px;
    padding-top: 20px;
    margin-top: 30px;
    display: flex; 
    flex-direction: column;      
}

.productos li a {
    text-decoration: none;
    background-color: #f3dd6b;
    color: #31b189;
    border-radius: 10px;
}

.productos li a:hover {
    justify-content: center;
    background:#31b189;
    color:#f3dd6b;
    margin: 200px;
    padding: 15px;
    border-radius: 40px 40px 40px 40px;
}


/* GALERIA */

.container {
    width: 1000px;
    margin: 200px;
    padding: 10px;
}

.galeria img {
    width: 100%;
    border-radius: 20px;
}

.galeria img:hover {
    opacity: 0.5;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.galeria .cuatro {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.galeria .seis {
    grid-column: 3 / 4;
    grid-row: 3 /4;
}   


/* NOVEDADES */

#novedades {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

#novedades .novedades__titulo {
    font-family:'Francois One', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 65px;
    background-color: #f3dd6b;
    color: #f4f8f9;
    height: 80px;
    width: 500px;
    margin: 50px auto;
    padding: 15px
}

.box-model {
    padding: 30px;
    margin: 100px;
}
.contenidoBox {
    height: 530px;
    width: 400px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
    background-color: orange;
    color: peachpuff;
}

.milas img{
    display: float;
    margin: auto;
    position: center;
    height: 400px;
    width: 400px;
    border: rgb(252, 252, 163) 5px solid;
    border-radius: 10px;
    margin-bottom: 50px;
    
}

/* CONTACTO */

#footerContacto .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 500px;    
    margin-right: 500px;
    padding: 5px 5px;
    font-size: 30px;
    background: #f3dd6b;
    color: #7ace67;
    border-radius: 5px;
    font-family:'Francois One', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 65px;
}

#footerContacto ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 300px;  
    margin-right: 300px; 
    margin-top: 50px; 
    padding: 5px 5px;
    list-style-type: none;
    font-size: 35px;
    color: white;
    background: orange;
    border-radius: 5px;
}

#footerContacto .redes a { 
    text-decoration: none;
    color: #f4f8f9;
}

#footerContacto a:hover {
    /* justify-content: center; */
    background: #f3dd6b;
    color: white;
    list-style-type: none;
    text-decoration: none; 
}


.divFooter { /* FONDO PARA TODAS LAS PÁGINAS */
    background-color: #31b189;
    margin: auto;
    padding-top: 15px;
    height: 100px;
}